* {
    padding: 0;
    margin: 0;
}



body{
    background: linear-gradient(#1f2840 0%,#a18cd1 100%) ;
    background-attachment: fixed;
    
}

.pad-top-180{
     padding-top: 170px;
}

.pad-bot-100{
    padding-bottom: 119px;
}

.mainEl{
    background: #3B3B3B;
    border-radius: 8px;
    width: 865px;
    height: 680px;
    margin: auto;
    display: table;
    overflow: hidden;
}

.imageEl {
    width: 50%;
    height: 100%;
    background: url(../assets/World-of-Warships-battleship-eagle_iphone_750x1334.jpg) top left/cover no-repeat;
    display: table-cell;
}

.formEl{
    height: 100%;
    display: table-cell;
}

.box{
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
}
.box h1{
    margin-top: 150px;
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
.box input[type = "text"]{
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 0px solid #339ee6;
    padding: 15px 22px;
    width: 250px;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    box-shadow: -5px -5px 5px 0 rgb(30, 30, 30),
        5px 5px 5px 0 rgba(255, 255, 255, 0.05);
}
.box input[type = "text"]:focus{
    width: 300px;
    outline: none;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00ff00;
    padding: 14px 40px;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #00ff00;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #3B3B3B;
}

.invalid{
    color: red !important;
    border: 1px solid #ff0000 !important;
}

.valid{
    color:white !important;
    border: 0px !important;
}

/*---------------------------------------------------*/

.centerText{
    font-weight: 800;
    font-size: 30px;
    background: none;
    
    text-align: center;
    justify-self: center;
    
    color: white;
    //padding: 11px 1px;
    transition: 0.25s;
}

#setupWrapper{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: 10px;
}

.help{
    background: #3B3B3B;
    text-align: center;
    color:#fff;
}

#boardWrapper{
    .margin-top: 40px !important;
    .grid-column: 1/2;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

#alphaNumeration{
    min-width: 650px;
    padding: 5px;
    grid-gap: 10px;
    grid-column: 2/12;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.alphaCard{
    font-weight: 800;
    font-size: 30px;
    background: none;
    
    align-self: right;
    justify-self: center;
    
    color: white;
    //padding: 11px 1px;
    transition: 0.25s;

}

#numeration{
    padding: 5px;
    grid-gap: 10px;
    grid-column: 1/2;
    grid-row: 2/12;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.numCard{
    font-weight: 800;
    font-size: 30px;
    background: none;
    
    align-self: right;
    justify-self: center;
    
    color: white;
    padding: 11px 1px;
    transition: 0.25s;

}

.setupBoard{
    min-width: 700px;
    grid-column: 2/12;
    grid-row: 2/12;
    /*height: 84vh;*/
    /*margin: 50px;*/
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    border-radius: 10px;
    box-shadow: -5px -5px 5px 0 rgb(30, 30, 30),
        5px 5px 5px 0 rgba(255, 255, 255, 0.05);
}

.setupUnits{
    grid-column: 2/3;
    margin: 100px;
    margin-top: 280px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    border-radius: 10px;
}

.boardBlocks{
    user-select: none;
    background: none;
    margin: 10px;
    border: 0px solid #339ee6;
    padding: 15px 22px;
    border-radius: 10px;
    transition: 0.25s;
    box-shadow: -5px -5px 5px 0 rgb(30, 30, 30),
        5px 5px 5px 0 rgba(255, 255, 255, 0.05);
}

.boardBlocks:hover{
    /*transform: scale(1.1);*/
    box-shadow: 5px 5px 5px 0 rgb(30, 30, 30),
        -5px -5px 5px 0 rgba(255, 255, 255, 0.05);
}

#unitsBlocks1, #unitsBlocks2, #unitsBlocks3, #unitsBlocks4{
    min-width: 230px;
    background: #3B3B3B;
    color:#fff;
    margin: 5px;
    margin-top: 10px;
    border: 0px solid #339ee6;
    
    border-radius: 10px;
    transition: 0.25s;
    box-shadow: -5px -5px 5px 0 rgb(30, 30, 30),
        5px 5px 5px 0 rgba(255, 255, 255, 0.05);
}

#unitsBlocks1{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#unitsBlocks2{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#unitsBlocks3{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#unitsBlocks4{
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.num, #unit1, #unit2, #unit3, #unit4 {
    font-weight: 800;
    font-size: 40px;
    background: none;
    grid-column: 1/2;
    margin: 10px;
    border: 0px solid #339ee6;
    padding: 15px 22px;
    border-radius: 10px;
    transition: 0.25s;
    box-shadow: -5px -5px 5px 0 rgb(30, 30, 30),
        5px 5px 5px 0 rgba(255, 255, 255, 0.05);
}

#unit1{
    grid-column: 2/3;
    border: 4px solid #339ee6;
}

#unit2{
    grid-column: 2/4;
    border: 4px solid #33e671;
}

#unit3{
    grid-column: 2/5;
    border: 4px solid #d1e633;
}

#unit4{
    grid-column: 2/6;
    border: 4px solid #e63333;
}

.unit1Active{
    grid-column: 2/3;
    background: #339ee6 !important;
}

.unit2Active{
    grid-column: 2/4;
    background: #33e671 !important;
}

.unit3Active{
    grid-column: 2/5;
    background: #d1e633 !important;
}

.unit4Active{
    grid-column: 2/6;
    background: #e63333 !important;
}

#unit1:hover, #unit2:hover, #unit3:hover, #unit4:hover{
    //border: 4px solid #646464;
    box-shadow: 5px 5px 5px 0 rgb(30, 30, 30),
        -5px -5px 5px 0 rgba(255, 255, 255, 0.05);
}

/*when boat is placed*/
.boatPlaced1{
    border: 4px solid #339ee6;
}

.boatPlaced2{
    border: 4px solid #33e671;
}

.boatPlaced3{
    border: 4px solid #d1e633;
}

.boatPlaced4{
    border: 4px solid #e63333;
}

/*---------------------------------------------------*/

#twoBoards{
    display: grid;
    margin-top: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.width{
    width: 41vw;
}

.boatHit{
    background: orange;
}

.boatMissed{
    background: red;
}

.boatSank{
    background: green;
}

.topPadding{
    padding-top: 40px;
}
